* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #beecd9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

main {
  flex: 1;
}

.logo img {
  height: 4rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav label {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(28, 131, 103);
}

.nav label:hover {
  text-decoration: underline;
}

.titulo {
  background-color: #beecd9;
  padding: 1rem;
  text-align: center;
}

.titulo h2 {
  color: #0b1f33;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f0f0;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-flex {
  display: flex;
  background-color: #b51111;
}

.menu-flex a {
  flex: 1;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
}

.menu-flex a:hover {
  background-color: #c4810e;
}

.menu-flex a.activo {
  background-color: #c4810e;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  background-color: #b51111;
  padding: 1rem;
}

.menu-grid .item {
  background-color: #d83333;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.menu-grid .item:hover {
  transform: translateY(-5px);
}

.menu-grid .item i {
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-grid .item span {
  display: block;
  font-weight: bold;
  margin-top: 0.5rem;
}

.menu-grid .item p {
  font-size: 0.85rem;
  margin-top: 0.25rem;
}


footer {
  background-color: #beecd9;
  color: rgb(28, 131, 103);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

footer .datos,
footer .comentario{
  flex: 1;
  min-width: 200px;
  color: rgb(28, 131, 103);
}

.subtitulo{
    color:rgb(28, 131, 103);
}

footer h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #d1d5db;
}

footer p {
  margin: 0.3rem 0;
}